NOTEBOOK LINK: https://colab.research.google.com/drive/1-8WmvCi5XQsbrm5fiKID1PsLwaYH_256?usp=sharing

# I. DATA TYPES IN PYTHON

-- Data types are classifications that dictate how the interpreter or compiler should handle and store a piece of data

-- Understanding data types is crucial because they define the operations that can be performed on a piece of data, the memory allocation, and how the data is stored in memory.

## A. Integers

-- Represent whole numbers, both positive and negative, without any decimal points.

In [115]:
1

1

## B. Floating-point numbers

-- Represent real numbers, which include both whole numbers and fractions.

In [116]:
type(1.2)

float

## C. Strings

-- A sequence of characters enclosed within single, double, or triple quotes, used to represent text.

In [117]:
type('Hello')
type("Hello")

str

## D. Boolean
-- Represent truth values, which can either be True or False

In [118]:
type(True)
type(False)

bool

## E. Lists
-- Ordered collections of items (which can be of different types) that are mutable (i.e., can be changed after creation).

In [119]:
lst = [1, 2, 3, 4, 5, 6]
# lst = [1, 2, 3, 4, 5, 6, 'seven']
lst[3] = 'four'
type(lst)

list

In [120]:
# Lists are mutable

lst.append(7)
lst

[1, 2, 3, 'four', 5, 6, 7]

## F. Tuples
-- Ordered collections of items that are immutable (i.e., cannot be changed once created).

In [121]:
tup = (1, 2, 3, 4)
# tup[0] = 'one'

## G. Dictionaries
-- Collections of key-value pairs where each key is unique, used for fast lookup and retrieval.

In [122]:
dic = {'key1': 'One', 'key2': 2}
type(dic)

dict

## H. Sets
-- Sets are unordered collections of unique items. They do not allow duplicate elements.

In [123]:
sets = {1,2,3,3,4}
type(sets)

set

In [124]:
sets

{1, 2, 3, 4}

### Data Types can be combined

In [125]:
combined = {'key1': [1, 2, 3, 4, [5, 6]], 'key2': (1,2,3), 'key3': False}
combined

{'key1': [1, 2, 3, 4, [5, 6]], 'key2': (1, 2, 3), 'key3': False}

# II. COMPARISON OPERATORS

In [126]:
2 > 3

False

In [127]:
3 < 2

False

In [128]:
3 == 3

True

In [129]:
4 != 2

True

In [130]:
3 >= 1

True

In [131]:
1 <= 1

True

In [132]:
'ab' == 'ab'

True

In [133]:
'ab' == 'abc'

False

# III. LOGICAL OPERATORS

In [134]:
# and

(1 > 2) and (2 < 3)

# T,T = T
# T,F = F
# F,T = F
# F,F = F

False

In [135]:
# or

(1 > 2) or (2 < 3)

# T,T = T
# T,F = T
# F,T = T
# F,F = F

True

In [136]:
# not

not(3 == 3)

False

# IV. IF - STATEMENTS (FLOW OF CONTROL)

In [137]:
# single condition

if (1 < 2):

  print('Yes')

Yes

In [138]:
# two conditions

if (6 < 2):

    print('Yes')

else:

    print('No')

No

In [139]:
# multiple conditions

if (6 < 2):

    print(1)

elif (3 == 3):

    print(2)

elif (4 != 4):

    print(3)

else:

    print(4)

2

In [140]:
# Nested IFs

x = 4

if (x == 6):

  print('A')

  if (x == 4):

    print('B')

  elif (x >= 4):

    print('C')

else:

  print('D')

D

# V. LOOPS

## a. For - Loop
-- Used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) or other iterable objects (like ranges or generators).

In [141]:
for i in range(5):

  print(i)

0
1
2
3
4

In [142]:
for i in range(0, 10, 2):

  print(i)

0
2
4
6
8

In [143]:
listahan = [1, 2, 3, 4]

for i in listahan:

  print(i)

1
2
3
4

In [144]:
dic = {"key1": 'One', 'key2': 'Two'}

for i in dic:

  print(i)

key1
key2

In [145]:
dic = {"key1": 'One', 'key2': 'Two'}

for i in dic:

  value = dic[i]
  print(value)

One
Two

In [146]:
# A better way using .items()

dic = {"key1": 'One', 'key2': 'Two'}

for key, value in dic.items():

  print(f"Key: {key}, Value: {value}")

Key: key1, Value: One
Key: key2, Value: Two

## b. While Loop

In [147]:
count = 0

while count < 5:

  print(count)
  count += 1

0
1
2
3
4

In [148]:
lst = [10, 20, 30]

index = 0

while index < len(lst):

  print(lst[index])
  index +=1

10
20
30

# VI. INDEXING AND SPLICING

## a. List Indexing & Splicing

In [149]:
# Single Splice in List

lst_1 = [10, 20, 30, 40, 50]

lst_1[1]

20

In [150]:
# Negative Splicing

lst_1[-1]

50

In [151]:
# Negative Splicing

lst_1[-3:]

[30, 40, 50]

In [152]:
# Negative Splicing

lst_1[:-2]

[10, 20, 30]

In [153]:
# Nested List Splicing

lst_2 = [10, 20, [30, 31, 32], 40, 50]

lst_2[2][2]

32

In [154]:
# Non-contiguous slicing via list comprehension

lst_3 = [10, 20, 30, 40, 50]

result = [lst_3[i] for i in [1,3]] # This is called a list comprehension

result

[20, 40]

## B. Dictionary Indexing & Splicing

In [155]:
# Single Splice in Dictionary

dict_1 = {'key1': 1, 'key2': 2, 'key3': 3}
dict_1['key1']

1

In [162]:
dict_2 = {'key1': 1, 'key2': 2, 'key3': 3}

# Specify the keys you want to select
selected_keys = ['key1', 'key2']

# Use dictionary comprehension to create a new dictionary
result = {key: dict_2[key] for key in selected_keys}

print(result)

{'key1': 1, 'key2': 2}

In [164]:
dict_3 = {'key1': 1, 'key2': 2, 'key3': 3}

# Specify the keys you want to select
selected_keys = ['key1', 'key2']

# Extract values only for the selected keys
values = [dict_3[key] for key in selected_keys]
values

[1, 2]