## Data Types

In [2]:
1

1

In [3]:
4.5

4.5

In [4]:
0.025

0.025

In [5]:
type(1)

int

In [6]:
type(3.05)

float

## String

In [7]:
'hello'

'hello'

In [8]:
type('hello')

str

In [9]:
"Heller"

'Heller'

## Variable

In [13]:
x = 123
y = 123

In [14]:
z = x + y

In [15]:
z

246

In [16]:
1 + 1

2

In [17]:
1 - 1

0

In [18]:
5 / 2

2.5

In [19]:
5 - 3

2

In [20]:
5 % 2 # modulo

1

In [21]:
6 % 2

0

In [22]:
# PEMDAS

2 + 3 * 3 / 3 - 4

1.0

In [23]:
(2 + 3) * 3 / (3 - 4)

-15.0

## Printing

In [24]:
print('hello')

hello

In [26]:
a = 1

In [27]:
a

1

In [28]:
num = 12
name = 'Sam'

In [29]:
print('My number is {one}, and my name is {two}'.format(two=name,one=num))

My number is 12, and my name is Sam

In [30]:
print('My number is {}, and my name is {}'.format(num,name))

My number is 12, and my name is Sam

## Lists

    - mutable

In [31]:
my_list = [1,2,3]

In [32]:
my_list

[1, 2, 3]

In [33]:
my_list.append(4)

In [34]:
my_list

[1, 2, 3, 4]

In [36]:
# splicing, indexing

my_list[2]

3

In [37]:
my_list[0:2]

[1, 2]

In [38]:
my_list[0] = 'NEW'

In [58]:
my_list

['NEW', 2, 3, 4]

In [59]:
type(my_list)

list

In [40]:
nest = [1,2,3,[4,5,['target']]]

In [41]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [43]:
nest[3]

[4, 5, ['target']]

In [44]:
nest[3][1]

5

In [45]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [46]:
nest[3]

[4, 5, ['target']]

In [47]:
nest[3][2]

['target']

In [48]:
nest[3][2][0]

'target'

## Dictionary

    - key value pairs

In [51]:
d = {'key1': 1,'key2': 2, 'key3': [1,2,3]} # Javascipt Object Notation, PHP -> Associative Array

In [52]:
d['key1']

1

In [53]:
d['key3']

[1, 2, 3]

In [54]:
d['key3'][1]

2

## Boolean

In [55]:
True

True

In [56]:
False

False

In [57]:
type(True)

bool

## Tuple

   - non-mutable

In [60]:
t = (1,2,3)

In [61]:
type(t)

tuple

In [62]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [63]:
t[1]

2

## Sets

In [64]:
s = {1,2,3}

In [65]:
s

{1, 2, 3}

In [66]:
s2 = {1,2,3,4,5,6,7,8,1,1,1,1,2,2,2,3,3,3,4}

In [67]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

## Comparison Operator

In [68]:
2 > 3

False

In [69]:
3 < 2

False

In [75]:
3 == 3

True

In [71]:
4 != 2

True

In [72]:
3 >= 1

True

In [76]:
'ab' == 'abc'

False

## Logic Operators

In [82]:
(1 > 2) and (2 < 3)

# T,T = T
# T,F = F
# F,T = F
# F,F = F

False

In [81]:
(1 > 2) or (2 < 3)


# T,T = T
# T,F = T
# F,T = T
# F,F = F

True

## IF Statement

In [86]:
# single condition

if (1 < 2):
    
    print('Yes')

Yes

In [89]:
# two conditions

if (6 < 2):
    
    print('Yes')

else: 
    
    print('No')

No

In [95]:
# multiple conditions

if (6 < 2):
    
    print(1)
    
elif (3 == 3):
    
    print(2)
    
elif (4 == 4):

    print(3)

else: 

    print(4)

2

## Loops

   - for loop
   - while

In [107]:
seq = [1,2,3,4,5,6]

In [108]:
seq

[1, 2, 3, 4, 5, 6]

In [110]:
for num in seq: # iteration
    
    print(num * num)

1
4
9
16
25
36

In [112]:
i = 1

while (i < 5):
    
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [117]:
for i in range(0,6):
    
    print(i)

0
1
2
3
4
5

In [118]:
st = range(0,51)

In [122]:
list_0_20 = list(range(0,21))

In [123]:
list_0_20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [124]:
list_0_20[3:12]

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [129]:
list_0_20[-1]

20