In [63]:
# Libraries

import pandas as pd
import matplotlib.pyplot as plt

In [64]:
# Load Dataset

df = pd.read_csv('https://raw.githubusercontent.com/renatomaaliw3/public_files/refs/heads/master/Data%20Sets/bitcoin_price.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

## Time Series Indexing (Master this part)

In [65]:
# Convert "Date" to datetime object (YYYY-MM-DD) or "%Y-%m-%d"

df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [66]:
# Set Date as index

df.set_index('Date', inplace = True)
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-26,43599.847656,43603.175781,41676.488281,42520.402344,42520.402344,30026850982
2023-12-27,42518.468750,43683.160156,42167.582031,43442.855469,43442.855469,25260941032
2023-12-28,43468.199219,43804.781250,42318.550781,42627.855469,42627.855469,22992093014
2023-12-29,42614.644531,43124.324219,41424.062500,42099.402344,42099.402344,26000021055
2023-12-30,42091.753906,42584.125000,41556.226562,42156.902344,42156.902344,16013925945

In [78]:
# Parsing Dates and Setting Index

df_02 = pd.read_csv('https://raw.githubusercontent.com/renatomaaliw3/public_files/refs/heads/master/Data%20Sets/bitcoin_price.csv', parse_dates = True, index_col = 'Date')
df_02.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [79]:
# Select a specific day in our df

df_02.loc['2023-02-01']

Open         2.313784e+04
High         2.376454e+04
Low          2.287775e+04
Close        2.372377e+04
Adj Close    2.372377e+04
Volume       2.668326e+10
Name: 2023-02-01 00:00:00, dtype: float64

In [93]:
# Resample the data to a different time granularity

df_02.resample('QE').mean()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-30,412.654003,421.104422,398.174641,407.182428,407.182428,2.934864e+07
2014-12-31,357.815380,365.985545,349.471195,357.075141,357.075141,2.299815e+07
2015-03-31,251.916000,259.438223,244.334134,251.209678,251.209678,3.077143e+07
2015-06-30,236.610099,239.549252,233.911967,236.858308,236.858308,2.055210e+07
2015-09-30,255.345435,259.317675,251.395902,254.859673,254.859673,2.726857e+07
2015-12-31,343.898370,353.476347,336.743436,346.037141,346.037141,5.681688e+07
2016-03-31,410.977385,415.911737,405.155463,410.728769,410.728769,6.813156e+07
2016-06-30,509.860791,519.658900,501.586396,512.492754,512.492754,9.665506e+07
2016-09-30,616.403697,621.740532,609.719248,615.702601,615.702601,8.853052e+07
2016-12-31,729.003793,737.582337,723.024510,732.721990,732.721990,9.030414e+07
2017-03-31,1033.800688,1057.085973,1008.120129,1034.707398,1034.707398,2.255465e+08
2017-06-30,1897.635384,1965.814829,1845.768580,1912.552198,1912.552198,9.724994e+08
2017-09-30,3462.193804,3583.723139,3344.322502,3482.149449,3482.149449,1.650749e+09
2017-12-31,9402.572366,9881.320668,8966.303493,9507.376189,9507.376189,6.620444e+09
2018-03-31,10648.571620,11033.838064,10060.693457,10568.062256,10568.062256,9.330193e+09
2018-06-30,7774.162083,7933.895830,7588.236693,7766.967677,7766.967677,5.762373e+09
2018-09-30,6818.129671,6941.692186,6696.464239,6821.316619,6821.316619,4.385653e+09
2018-12-31,5231.344490,5314.638003,5119.090624,5200.090489,5200.090489,4.843731e+09
2019-03-31,3794.686895,3841.942342,3754.237562,3799.330547,3799.330547,7.382102e+09
2019-06-30,7226.925910,7475.835245,7059.926388,7301.446225,7301.446225,2.027888e+10
2019-09-30,10408.448439,10627.300643,10112.916743,10381.653872,10381.653872,1.837985e+10
2019-12-31,8031.036977,8173.138338,7886.163309,8019.362835,8019.362835,2.071647e+10
2020-03-31,8276.553770,8459.486833,8068.466110,8267.690414,8267.690414,3.633726e+10
2020-06-30,8636.075356,8810.591201,8485.153369,8665.591652,8665.591652,3.399350e+10
2020-09-30,10615.259978,10781.080068,10452.387069,10633.906706,10633.906706,2.532761e+10
2020-12-31,16642.727688,17108.249342,16316.552681,16840.720618,16840.720618,3.648130e+10
2021-03-31,44995.843533,46689.724783,43258.778624,45323.775434,45323.775434,6.779790e+10
2021-06-30,46763.019553,48149.373219,44800.798613,46497.781636,46497.781636,5.506289e+10
2021-09-30,41886.044370,42948.445312,40804.924975,41988.772121,41988.772121,3.191214e+10
2021-12-31,55904.298234,57212.711362,54475.709536,55881.252548,55881.252548,3.438473e+10
2022-03-31,41305.830990,42182.712500,40333.934679,41298.641450,41298.641450,2.695843e+10
2022-06-30,32783.096798,33387.033117,31810.818123,32499.554022,32499.554022,3.142576e+10
2022-09-30,21254.730426,21710.296726,20816.108292,21252.331543,21252.331543,3.201138e+10
2022-12-31,18103.262610,18331.390158,17829.580099,18072.049975,18072.049975,2.960643e+10
2023-03-31,22746.440278,23249.269683,22404.599371,22876.925195,22876.925195,2.553625e+10
2023-06-30,28007.884315,28460.719544,27582.208534,28034.084736,28034.084736,1.578843e+10
2023-09-30,28129.916270,28414.237857,27803.847295,28091.328677,28091.328677,1.258246e+10
2023-12-31,36064.933980,36734.550309,35563.192136,36230.837440,36230.837440,1.925930e+10

<table style="display: inline-block">
    <caption style="text-align: center"><strong>TIME SERIES OFFSET ALIASES</strong></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>B</td><td>business day frequency</td></tr>
<tr><td>C</td><td>custom business day frequency (experimental)</td></tr>
<tr><td>D</td><td>calendar day frequency</td></tr>
<tr><td>W</td><td>weekly frequency</td></tr>
<tr><td>ME</td><td>month end frequency</td></tr>
<tr><td>SM</td><td>semi-month end frequency (15th and end of month)</td></tr>
<tr><td>BM</td><td>business month end frequency</td></tr>
<tr><td>CBM</td><td>custom business month end frequency</td></tr>
<tr><td>MS</td><td>month start frequency</td></tr>
<tr><td>SMS</td><td>semi-month start frequency (1st and 15th)</td></tr>
<tr><td>BMS</td><td>business month start frequency</td></tr>
<tr><td>CBMS</td><td>custom business month start frequency</td></tr>
<tr><td>QE</td><td>quarter end frequency</td></tr>
<tr><td></td><td><font color=white>intentionally left blank</font></td></tr></table>

<table style="display: inline-block; margin-left: 40px">
<caption style="text-align: center"></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>BQ</td><td>business quarter endfrequency</td></tr>
<tr><td>QS</td><td>quarter start frequency</td></tr>
<tr><td>BQS</td><td>business quarter start frequency</td></tr>
<tr><td>A</td><td>year end frequency</td></tr>
<tr><td>BA</td><td>business year end frequency</td></tr>
<tr><td>AS</td><td>year start frequency</td></tr>
<tr><td>BAS</td><td>business year start frequency</td></tr>
<tr><td>BH</td><td>business hour frequency</td></tr>
<tr><td>H</td><td>hourly frequency</td></tr>
<tr><td>T, min</td><td>minutely frequency</td></tr>
<tr><td>S</td><td>secondly frequency</td></tr>
<tr><td>L, ms</td><td>milliseconds</td></tr>
<tr><td>U, us</td><td>microseconds</td></tr>
<tr><td>N</td><td>nanoseconds</td></tr></table>