# Exercise 3

In [1]:
import numpy as np
import pandas as pd
import statistics

# Series

## 1. Create the following data as a series using numpy arrays

0    A
1    B
2    C
3    D
4    E
dtype: object

## 2. Create the following data as a series using numpy arrays with custom index

a    James
b     Anna
c      Sam
d     Nick
dtype: object

## 3. Create the following data as a series using dictionary with custom index

Harry      500
James      300
Dorothy    600
Manny      100
dtype: int64

## 4. Using the created series above (from dictionary) select specific parts of the series

James    300
Manny    100
dtype: int64

# Data Frame

## 5. Create the Data Frame below from a 6x6 random int number

In [9]:
np.random.seed(10) # please use this seeding in order to generate same random numbers

          C1        C2        C3        C4        C5        C6
R1  0.771321  0.020752  0.633648  0.748804  0.498507  0.224797
R2  0.198063  0.760531  0.169111  0.088340  0.685360  0.953393
R3  0.003948  0.512192  0.812621  0.612526  0.721755  0.291876
R4  0.917774  0.714576  0.542544  0.142170  0.373341  0.674134
R5  0.441833  0.434014  0.617767  0.513138  0.650397  0.601039
R6  0.805223  0.521647  0.908649  0.319236  0.090459  0.300700

## 6. From the Data Frame generated above select the following parts

R1    0.633648
R2    0.169111
R3    0.812621
R4    0.542544
R5    0.617767
R6    0.908649
Name: C3, dtype: float64

          C1        C3        C6
R1  0.771321  0.633648  0.224797
R2  0.198063  0.169111  0.953393
R3  0.003948  0.812621  0.291876
R4  0.917774  0.542544  0.674134
R5  0.441833  0.617767  0.601039
R6  0.805223  0.908649  0.300700

## 7. From the Data Frame generated at Number 6. use .iloc, .loc to select the following parts

## use .iloc

          C1        C2
R1  0.771321  0.020752
R2  0.198063  0.760531

          C3        C4
R2  0.169111  0.088340
R3  0.812621  0.612526
R4  0.542544  0.142170

          C2        C3
R3  0.512192  0.812621
R4  0.714576  0.542544
R5  0.434014  0.617767

## use .loc

          C3        C4        C5        C6
R1  0.633648  0.748804  0.498507  0.224797
R2  0.169111  0.088340  0.685360  0.953393
R3  0.812621  0.612526  0.721755  0.291876

          C1        C2        C3        C4
R1  0.771321  0.020752  0.633648  0.748804
R2  0.198063  0.760531  0.169111  0.088340

R1    0.633648
R2    0.169111
R3    0.812621
R4    0.542544
R5    0.617767
R6    0.908649
Name: C3, dtype: float64

## 8. Transpose the Data Frame

          R1        R2        R3        R4        R5        R6
C1  0.771321  0.198063  0.003948  0.917774  0.441833  0.805223
C2  0.020752  0.760531  0.512192  0.714576  0.434014  0.521647
C3  0.633648  0.169111  0.812621  0.542544  0.617767  0.908649
C4  0.748804  0.088340  0.612526  0.142170  0.513138  0.319236
C5  0.498507  0.685360  0.721755  0.373341  0.650397  0.090459
C6  0.224797  0.953393  0.291876  0.674134  0.601039  0.300700

## 9. Conditional Selection (use same Data Frame in item Number 5)

In [20]:
# C1 < 0.5 and C6 > 0.7 (Display C1 and C6 only)

          C1        C6
R2  0.198063  0.953393

In [21]:
# C1 > 0.5 or C6 < 0.7 (Display C2, C3, C4 only)

          C2        C3        C4
R2  0.760531  0.169111  0.088340
R3  0.512192  0.812621  0.612526
R5  0.434014  0.617767  0.513138

## 10. Create additional columns for the Data Frame

          C1        C2        C3        C4        C5        C6  C8
R1  0.771321  0.020752  0.633648  0.748804  0.498507  0.224797   1
R2  0.198063  0.760531  0.169111  0.088340  0.685360  0.953393   2
R3  0.003948  0.512192  0.812621  0.612526  0.721755  0.291876   3
R4  0.917774  0.714576  0.542544  0.142170  0.373341  0.674134   4
R5  0.441833  0.434014  0.617767  0.513138  0.650397  0.601039   5
R6  0.805223  0.521647  0.908649  0.319236  0.090459  0.300700   6

          C1        C2        C3        C4        C5        C6  C8  C9
R1  0.771321  0.020752  0.633648  0.748804  0.498507  0.224797   1   2
R2  0.198063  0.760531  0.169111  0.088340  0.685360  0.953393   2   4
R3  0.003948  0.512192  0.812621  0.612526  0.721755  0.291876   3   6
R4  0.917774  0.714576  0.542544  0.142170  0.373341  0.674134   4   8
R5  0.441833  0.434014  0.617767  0.513138  0.650397  0.601039   5  10
R6  0.805223  0.521647  0.908649  0.319236  0.090459  0.300700   6  12

## 11. Drop C9 column permanently

## 12. Drop R6 index permanently

          C1        C2        C3        C4        C5        C6  C8
R1  0.771321  0.020752  0.633648  0.748804  0.498507  0.224797   1
R2  0.198063  0.760531  0.169111  0.088340  0.685360  0.953393   2
R3  0.003948  0.512192  0.812621  0.612526  0.721755  0.291876   3
R4  0.917774  0.714576  0.542544  0.142170  0.373341  0.674134   4
R5  0.441833  0.434014  0.617767  0.513138  0.650397  0.601039   5

## 13. Reset the index of the Data Frame permanently

  index        C1        C2        C3        C4        C5        C6  C8
0    R1  0.771321  0.020752  0.633648  0.748804  0.498507  0.224797   1
1    R2  0.198063  0.760531  0.169111  0.088340  0.685360  0.953393   2
2    R3  0.003948  0.512192  0.812621  0.612526  0.721755  0.291876   3
3    R4  0.917774  0.714576  0.542544  0.142170  0.373341  0.674134   4
4    R5  0.441833  0.434014  0.617767  0.513138  0.650397  0.601039   5