# Functions

    -- a block of code designed to performed a specific task
    -- function help in organizing code making it more modular, reusable, and easier to maintain

## Simple Function Without Arguments

In [67]:
def greet():

  print("Hello World!")

In [68]:
greet()

Hello World!

## Function with Multiple Arguments

In [76]:
def add_numbers(a, b):

  print(f"The sum of {a} and {b} is {a + b}")

In [77]:
add_numbers(2, 3)

The sum of 2 and 3 is 5

## Function with Return Value

In [78]:
def multiply_numbers(a, b):

  return a * b

In [79]:
result = multiply_numbers(3, 3)

print(f"The result of multiplication is {result}")

The result of multiplication is 9

# Lambda Expressions

    -- a small, anonymous function defined with the lambda keyword.
    -- unlike regular functions defined using the def keyword, lambda functions can have any number of arguments but only one expression.
    -- the expression is evaluated and returned.
    -- lambda functions are often used for short, simple operations where a full function definition might seem excessive.

In [80]:
# Sample - Lambda expression for addition

add = lambda x, y: x + y
result = add(5,3)
print(result)

8

In [81]:
# Sample - Lambda expression for square of a number

square = lambda x: x ** 2
result = square(6)
print(result)

36

In [84]:
# Sample - Lambda expression with condition (even numbers)

is_even = lambda x: x % 2 == 0
result = is_even(7)
print(result)

False

In [87]:
# Sample - Lambda expression with Even or Odd using ternary expression

is_even = lambda x: "Even" if x % 2 == 0 else "Odd"
result = is_even(5)
print(result)

Odd

# Map Function

      -- The map() function in Python is a built-in function that applies a given function to each item in an iterable (like a list, tuple, etc.) and returns a map object (which is an iterator).
      -- The map() function is useful when you need to transform or modify elements of an iterable without using explicit loops.
      -- map(function, iterable, ...)

In [91]:
# Squaring Numbers, Single Iterable

numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x ** 2, numbers))
squared_numbers

[1, 4, 9, 16, 25]

In [96]:
# Sum, Multiple Iterables

a = [1, 2, 3]
b = [4, 5 , 6]
c = [7, 8, 9]

sum_list = list(map(lambda x, y, z: x + y + z, a, b, c))
print(sum_list)

[12, 15, 18]

In [95]:
# Map in custom function

def add_five(x):

  return x + 5

numbers = [1, 2, 3]
result = list(map(add_five, numbers))
print(result)

[6, 7, 8]

In [97]:
# Map in custom function, multiple arguments

def add_three_numbers(x, y, z):

  return x + y + z

list1 = [1, 2, 3]
list2 = [10, 20, 30]
list3 = [100, 200, 300]

# Using map to add corresponding elements from the three lists

sum_list = list(map(add_three_numbers, list1, list2, list3))
print(sum_list)

[111, 222, 333]

# Filter Function

    -- The filter() function in Python is a built-in function that constructs an iterator from elements of an iterable for which a specified function returns True.
    -- In other words, it filters out the elements from the iterable that do not satisfy the condition specified by the function.
    -- filter(function, iterable)

In [98]:
# Check for even numbers via filter

numbers = [1, 2, 3, 4]

is_even = lambda x: x % 2 == 0

# Using filter

even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4]

In [99]:
# Using Filter with Map

numbers = [1, 2, 3, 4, 5, 6, 7, 8]

filtered_squares = list(filter(lambda x: x > 15 , map(lambda x: x ** 2, numbers)))
filtered_squares

[16, 25, 36, 49, 64]

In [100]:
# Using Filter with Map on Multiple Iterables

list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]

filtered_results = list(filter(lambda x: x > 100, map(lambda x, y: (x + y) ** 2, list1, list2)))
filtered_results

[121, 484, 1089, 1936, 3025]

In [105]:
# Sample Using Dictionary

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict2 = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

filtered_results = dict(filter(lambda item: item[1] > 30, map(lambda key: (key, (dict1[key] + dict2[key])), dict1)))

print(filtered_results)

{'c': 33, 'd': 44, 'e': 55}

# Common list methods

In [107]:
# append()
# Adds a single element to the end of the list.

fruits = ['apple', 'banana', 'melon']
fruits.append('orange')
fruits

['apple', 'banana', 'melon', 'orange']

In [109]:
# extend()
# Extends the list by appending all elements from another iterable (e.g., another list)

fruits = ['apple', 'banana', 'cherry']
fruits.extend(['orange', 'grape', 'guava'])
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'grape', 'guava']

In [114]:
# insert()
# Inserts an element at a specified position.

fruits = ['apple', 'banana', 'cherry']
fruits.insert(0, 'orange')  # Insert 'orange' at index 1
print(fruits)

['orange', 'apple', 'banana', 'cherry']

In [119]:
# remove()
# Removes the first occurrence of a specified element from the list.

fruits = ['apple', 'banana', 'cherry', 'banana']
fruits.remove('banana')
print(fruits)

['apple', 'cherry', 'banana']

In [122]:
# pop()
# Removes and returns the element at the specified position.
# If no index is specified, it removes and returns the last element.

fruits = ['apple', 'banana', 'cherry']
removed_fruit = fruits.pop(1)  # Remove and return element at index 1

print(removed_fruit)
print(fruits)

banana
['apple', 'cherry']

In [123]:
# clear()
# Removes all elements from the list, leaving it empty.

fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)

[]

In [125]:
# index()
# Returns the index of the first occurrence of a specified element.

fruits = ['apple', 'banana', 'cherry']
index_of_banana = fruits.index('banana')
print(index_of_banana)

1

In [126]:
# count()
# Returns the number of times a specified element appears in the list.

fruits = ['apple', 'banana', 'cherry', 'banana', 'banana']
banana_count = fruits.count('banana')
print(banana_count)

3

In [132]:
# sort()
# Sorts the elements of the list in ascending order by default.
# Can also sort in descending order by specifying reverse=True.

numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
# numbers.sort(reverse = True)
print(numbers)

[1, 1, 3, 4, 5, 9]

In [133]:
# reverse()
# Reverses the elements of the list in place.

fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [135]:
# sort() with a key Function
# Sorts the list based on the key function provided.

fruits = ['apple', 'banana', 'cherry', 'date']
fruits.sort(key=len)  # Sort by the length of the fruit names
print(fruits)

['date', 'apple', 'banana', 'cherry']

In [136]:
# len(list)
# Returns the length of the list

fruits = ['apple', 'banana', 'cherry', 'date']
length = len(fruits)
print(length)

4

In [137]:
# list comprehension
# Although not a method, list comprehensions provide a concise way to create lists based on existing lists.

numbers = [1, 2, 3, 4, 5]

squares = [x ** 2 for x in numbers]

print(squares)

[1, 4, 9, 16, 25]

## Common string methods

In [138]:
# upper()
# Converts all characters in the string to uppercase.

text = "hello world"
upper_text = text.upper()
print(upper_text)

HELLO WORLD

In [139]:
# lower()
# Converts all characters in the string to lowercase.

text = "HELLO WORLD"
lower_text = text.lower()
print(lower_text)

hello world

In [140]:
# capitalize()
# Converts the first character of the string to uppercase and the rest to lowercase.

text = "hello world"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

In [141]:
# title()
# Converts the first character of each word to uppercase and the rest to lowercase.

text = "hello world from python"
title_text = text.title()
print(title_text)

Hello World From Python

In [146]:
# strip(), lstrip(), rstrip()
# Removes leading and trailing whitespace from the string.

text = "   hello world   "
stripped_text = text.strip()
print(stripped_text)

hello world

In [148]:
# find()
# Returns the lowest index of the substring if it is found in the string. Returns -1 if the substring is not found.

text = "hello world"
index = text.find("world")
print(index)

6

In [149]:
# replace()
# Replaces all occurrences of a specified substring with another substring.

text = "hello world"
replaced_text = text.replace("world", "Python")
print(replaced_text)

hello Python

In [155]:
# split()
# Splits the string into a list of substrings based on a specified delimiter. By default, it splits by any whitespace.

# text = "hello world from python"
# words = text.split()
#print(words)

email = "sample@yahoo.com"
split = email.split('@')
print(split)

['sample', 'yahoo.com']

In [156]:
# join()
# Joins elements of an iterable (like a list) into a single string, with a specified delimiter.

words = ['hello', 'world', 'from', 'python']
joined_text = "+".join(words)
print(joined_text)

hello+world+from+python

In [159]:
# startswith()
# Returns True if the string starts with the specified substring, otherwise returns False.

text = "hello world"
result = text.startswith("hello")
print(result)

True

In [160]:
# endswith()
# Returns True if the string ends with the specified substring, otherwise returns False.

text = "hello world"
result = text.endswith("world")
print(result)

True

In [166]:
# count()
# Returns the number of occurrences of a substring in the string.

text = "hello world, hello universe"
count_hello = text.count("hello")
print(count_hello)

2

In [167]:
# len(text)
# Returns the length of the string including whitespace

text = "hello world, hello universe"
length = len(text)
print(length)

27

## Common Methods for Dictionary

In [168]:
# get()
# Returns the value for the specified key if the key is in the dictionary.
# If the key is not found, it returns None (or a default value if provided).

person = {'name': 'Alice', 'age': 25}
age = person.get('age')
print(age)

25

In [170]:
# keys()
# Returns a view object that displays a list of all the keys in the dictionary.

person = {'name': 'Alice', 'age': 25, 'address': 'Bonifacio St.'}
keys = person.keys()
print(keys)

dict_keys(['name', 'age', 'address'])

In [171]:
# values()
# Returns a view object that displays a list of all the values in the dictionary.

person = {'name': 'Alice', 'age': 25}
values = person.values()
print(values)

dict_values(['Alice', 25])

In [172]:
# items()
# Returns a view object that displays a list of dictionary’s key-value tuple pairs.

person = {'name': 'Alice', 'age': 25}
items = person.items()
print(items)

dict_items([('name', 'Alice'), ('age', 25)])

In [173]:
# update()
# Updates the dictionary with elements from another dictionary object or from an iterable of key-value pairs.

person = {'name': 'Alice', 'age': 25}
person.update({'age': 26, 'city': 'New York'})
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [174]:
# update()
# Updates the dictionary with elements from another dictionary object or from an iterable of key-value pairs.

people = {
    '001': {'name': 'Alice', 'age': 25, 'city': 'Los Angeles'},
    '002': {'name': 'Bob', 'age': 30, 'city': 'New York'},
    '003': {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
}

people['001'].update({'age': 26, 'city': 'San Francisco'})
print(people)

{'001': {'name': 'Alice', 'age': 26, 'city': 'San Francisco'}, '002': {'name': 'Bob', 'age': 30, 'city': 'New York'}, '003': {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}}

In [175]:
# pop()
# Removes and returns the value for the specified key.
# If the key is not found, it raises a KeyError, unless a default value is provided.

person = {'name': 'Alice', 'age': 25}
age = person.pop('age')
print(age)
print(person)

25
{'name': 'Alice'}

In [176]:
# popitem()
# Removes and returns the last key-value pair added to the dictionary.
# In versions of Python prior to 3.7, it removes and returns an arbitrary key-value pair.

person = {'name': 'Alice', 'age': 25}
last_item = person.popitem()
print(last_item)
print(person)

('age', 25)
{'name': 'Alice'}

In [177]:
# clear()
# Removes all items from the dictionary.

person = {'name': 'Alice', 'age': 25}
person.clear()
print(person)

{}

In [178]:
# dict() Constructor
# Creates a dictionary from keyword arguments or an iterable of key-value pairs.

# Using keyword arguments
person = dict(name='Alice', age=25)
print(person)

{'name': 'Alice', 'age': 25}

In [179]:
# dict() Constructor
# Creates a dictionary from keyword arguments or an iterable of key-value pairs.

# Using an iterable of key-value pairs

pairs = [('name', 'Bob'), ('age', 30)]

person_from_pairs = dict(pairs)

print(person_from_pairs)

{'name': 'Bob', 'age': 30}

# Tuple Unpacking

    -- Assigns the elements of a tuple to variables.

In [183]:
# Tuple unpacking

person = ('Alice', 25, 'New York')

name, age, city = person

print(name)
print(age)
print(city)

Alice
25
New York

In [184]:
# Tuple unpacking

people = [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

# Using a for loop to unpack each tuple

for name, age in people:

    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

In [185]:
# Using enumerate

fruits = ['apple', 'banana', 'cherry']

# Using a for loop to unpack index and value

for index, fruit in enumerate(fruits):

    print(f"Index {index} contains {fruit}")

Index 0 contains apple
Index 1 contains banana
Index 2 contains cherry

In [186]:
# Using zip

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

# Using zip to pair elements from names and ages

for name, age in zip(names, ages):

    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old